<br/>
<%= nested_form_for @place, url: admin_places_path, html: { class: 'form-horizontal'} do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control", required: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :address,  class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :address, class: "form-control", required: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone,  class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :phone, class: "form-control", required: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :prices,  class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.fields_for :prices do |price_form| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= price_form.text_field :name, class: "form-control", required: true %>
          <%= f.label :price %>
          <%= price_form.text_field :price, class: "form-control", required: true %>
          <%= price_form.link_to_remove "Remove this price", class: 'label label-danger' %>
        </div>
      <% end %>
      <div class="fields">
        <%= f.link_to_add "Add a price", :prices, class: 'label label-info' %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :amenities,  class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.fields_for :amenities do |amenity_form| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= amenity_form.text_field :name, class: "form-control", required: true %>
          <%= f.label :icon_name %>
          <%= amenity_form.text_field :icon, class: "form-control", required: true %>
          <%= amenity_form.link_to_remove "Remove this amenity", class: 'label label-danger' %>
        </div>
      <% end %>
      <p><%= f.link_to_add "Add a amenity", :amenities, class: 'label label-info' %></p>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.button class: "btn btn-success" do %>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save
      <% end %>
    </div>
  </div>
<% end %>
