<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Listing places</h1>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @places.each do |place| %>
        <tr>
          <td><%= place.name %></td>
          <td><%= place.address %></td>
          <td><%= place.phone %></td>
          <td>
            <div class="btn-group" role="group">
            <%= link_to admin_place_path(place), class: "btn btn-info" do %>
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Show
            <% end %>
            <%= link_to edit_admin_place_path(place), class: "btn btn-info" do %>
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
            <% end %>
            <%= link_to admin_place_path(place), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do %>
              <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Remove
            <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="panel-footer">
  </div>
</div>
<%= link_to new_admin_place_path, class: "btn btn-success" do %>
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create Place
<% end %>
