<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-heading"><h1>Show Place</h1></div>
  <ul class="list-group">
    <li class="list-group-item">
      <p>
        <strong>Name:</strong>
        <%= @place.name %>
      </p>
    </li>
    <li class="list-group-item">
      <p>
        <strong>Address:</strong>
        <%= @place.address %>
      </p>
    </li>
    <li class="list-group-item">
      <p>
        <strong>Phone:</strong>
        <%= @place.phone %>
      </p>
    </li>
    <li class="list-group-item">
      <p>
        <strong>Prices:</strong>
          <ul class="list-group">
            <% @place.prices.each do |price| %>
              <li class="list-group-item">
                  <%= "#{price.name} - $#{price.price}" %>
              </li>
            <% end %>
          </ul>
      </p>
    </li>
    <li class="list-group-item">
      <p>
        <strong>Amenities:</strong>
          <ul class="list-group">
            <% @place.amenities.each do |amenity| %>
              <li class="list-group-item">
                  <%= "#{amenity.name} - #{amenity.icon}" %>
              </li>
            <% end %>
          </ul>
      </p>
    </li>
  </ul>
  <% @place.photos.each do |photo| %>
    <%= image_tag(photo.photo_url) %>
  <% end %>
  <div class="panel-footer">
    <div class="btn-group">
      <%= link_to 'Edit', edit_admin_place_path(@place), class: 'btn btn-default' %>
      <%= link_to 'Back', admin_places_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>

