<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-heading"><h1>Show Place</h1></div>
  <ul class="list-group">
    <li class="list-group-item">
      <p>
        <strong>Name:</strong>
        <%= @place.name %>
      </p>
    </li>
    <li class="list-group-item">
      <p>
        <strong>Address:</strong>
        <%= @place.address %>
      </p>
    </li>
    <li class="list-group-item">
      <p>
        <strong>Phone:</strong>
        <%= @place.phone %>
      </p>
    </li>
  </ul>
  <div class="panel-footer">
    <div class="btn-group">
      <%= link_to 'Edit', edit_admin_place_path(@place), class: 'btn btn-default' %>
      <%= link_to 'Back', admin_places_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>

