<!DOCTYPE html>
<html>
<head>
  <title>Buscatelo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
  <link href=<%= asset_path("favicon.ico")%> rel="shortcut icon">
</head>
<body>

<%= yield %>

</body>
</html>
